
  <div style="width: 100%; display: inline-block;" >
    <div style="width: 80%;  " #mapViewNode></div>

    <div style="width: 20%; ">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree ">
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.showName">
                <mat-icon class="mat-icon-rtl-mirror" (click)="getChildsOfTree(node)">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.showName}}
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
  </div>
  