<!-- <mat-form-field>
    <mat-label>Filter by</mat-label>
    <mat-select>
        <mat-option>
            <mat-label>componentName</mat-label>
            <mat-select [(ngModel)]="ComponentChoose">
                <mat-option *ngFor="let c of componentList">{{c}}</mat-option>
            </mat-select>
        </mat-option>
        <mat-option>
            <mat-label>Malfunction</mat-label>
            <mat-select [(ngModel)]="MalfunctionChoose">
                <mat-option *ngFor="let c of MalfunctionList">{{c}}</mat-option>
            </mat-select>
        </mat-option>
        <mat-option>
            <mat-label>responsibleName</mat-label>
            <mat-select [(ngModel)]="ResponsibleChoose">
                <mat-option *ngFor="let c of ResponsibleList">{{c}}</mat-option>
            </mat-select>
        </mat-option>
        <mat-option>
            <mat-label>statusDescription</mat-label>
            <mat-select [(ngModel)]="StatusChoose">
                <mat-option *ngFor="let c of StatusList">{{c.name}}</mat-option>
            </mat-select>
        </mat-option>
    </mat-select>
</mat-form-field> -->






<!-- <input type="button" value="try" click="try()">

<mat-form-field>
    <mat-label>Filter by component name</mat-label>
    <mat-select [(value)]="ComponentChoose" (selectionChange)="filterByComponent()">
        <mat-option></mat-option>
        <mat-option [value]="c.name" *ngFor="let c of componentList">
            {{c.name}}
        </mat-option>
    </mat-select>
</mat-form-field><br>
<mat-form-field>
    <mat-label >Filter by responsible name</mat-label>
    <mat-select  [(value)]="ResponsibleChoose" (selectionChange)="filter('responsibleName')">
        <mat-option>-All-</mat-option>
        <mat-option *ngFor="let c of ResponsibleList" [value]="c.name" >
            {{c.name}}
        </mat-option>
    </mat-select>
</mat-form-field>&nbsp;&nbsp;
<mat-form-field>
    <mat-label>Filter by status</mat-label> 
    <mat-select  [(value)]="StatusChoose" (selectionChange)="filter('logMalfunctionStatusName')">
        <mat-option>-All-</mat-option>
        <mat-option *ngFor="let s of StatusList" [value]="s.name">
            {{s.name}}
        </mat-option>
    </mat-select>
</mat-form-field>&nbsp;&nbsp;
<button mat-raised-button (click)="filter()">Remove Filters</button>


 -->

 <button mat-button (click)="addResponsible()">add reponsible</button>
<mat-form-field>
    <mat-label>Filter by component name</mat-label>
    <mat-select [(value)]="ComponentChoose" (selectionChange)="filterByComponent()">
        <mat-option></mat-option>
        <mat-option [value]="c.name" *ngFor="let c of componentList">
            {{c.name}}
        </mat-option>
    </mat-select>
</mat-form-field><br>
<mat-form-field>
    <mat-label >Filter by responsible name</mat-label>
    <mat-select  [(value)]="ResponsibleChoose" (selectionChange)="filter('responsibleName')">
        <mat-option>-All-</mat-option>
        <mat-option *ngFor="let c of ResponsibleList" [value]="c.name" >
            {{c.name}}
        </mat-option>
    </mat-select>
</mat-form-field>&nbsp;&nbsp;
<mat-form-field>
    <mat-label>Filter by status</mat-label> 
    <mat-select  [(value)]="StatusChoose" (selectionChange)="filter('logMalfunctionStatusName')">
        <mat-option>-All-</mat-option>
        <mat-option *ngFor="let s of StatusList" [value]="s.name">
            {{s.name}}
        </mat-option>
    </mat-select>
</mat-form-field>&nbsp;&nbsp;
<button mat-raised-button (click)="filter()">Remove Filters</button>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="componentName">
        <th mat-header-cell *matHeaderCellDef> componentName </th>
        <td mat-cell *matCellDef="let element"  (click)="clickedPassMap(element)"><a [routerLink]>{{element.componentName}} </a></td>
    </ng-container>
    <ng-container matColumnDef="responsibleId">
        <th mat-header-cell *matHeaderCellDef> responsibleId </th>
        <td mat-cell *matCellDef="let element"> {{element.responsibleId}} </td>
    </ng-container>
    <ng-container matColumnDef="responsibleName">
        <th mat-header-cell *matHeaderCellDef> ResponsibleName </th>
        <td mat-cell *matCellDef="let element"> {{element.responsibleName}} </td>
    </ng-container>
    <ng-container matColumnDef="logMalfunctionStatusName">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.logMalfunctionStatusName}} </td>
    </ng-container>
    <ng-container matColumnDef="statusDescription">
        <th mat-header-cell *matHeaderCellDef> status Description </th>
        <td mat-cell *matCellDef="let element"> {{element.statusDescription}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> 





<!-- <mat-form-field>
    <mat-label>Filter by</mat-label>
    <mat-select>
        <mat-option>
            <mat-label>componentName</mat-label>
            <mat-select [(ngModel)]="ComponentChoose">
                <mat-option *ngFor="let c of componentList">{{c.name}}</mat-option>
            </mat-select>
        </mat-option>
        <mat-option>
            <mat-label>Malfunction</mat-label>
            <mat-select [(ngModel)]="MalfunctionChoose">
                <mat-option *ngFor="let c of MalfunctionList">{{c.name}}</mat-option>
            </mat-select>            
        </mat-option>
        <mat-option>
            <mat-label>responsibleName</mat-label>
            <mat-select [(ngModel)]="ResponsibleChoose">
                <mat-option *ngFor="let c of ResponsibleList">{{c.name}}</mat-option>
            </mat-select>
        </mat-option>
        <mat-option>
            <mat-label>statusDescription</mat-label>
            <mat-select [(ngModel)]="StatusChoose">
                <mat-option *ngFor="let c of StatusList">{{c.name}}</mat-option>
            </mat-select>
        </mat-option>
    </mat-select>
</mat-form-field> -->