<p>add-responsible works!</p>
<form class="example-form" [formGroup]="newResponsibleForm" #form2="ngForm" (ngSubmit)="ok(pass.value,pass2.value)">
    <fieldset style="width: 500px">
        <form [formGroup]="idFG" class="example-form2">
            <mat-form-field class="example-full-width2">
                <input required matInput (keyup)="validId()" placeholder="insert your ID" formControlName="id">
                <!-- <mat-error *ngIf="id?.hasError('minlength') || id?.hasError('maxlength')">
                        ID is 9 characters
                    </mat-error> -->
                <mat-error *ngIf="id?.hasError('required')">
                    ID <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="notValidIsrId">
                    ID <strong>not valid</strong>
                </mat-error>
            </mat-form-field>
        </form>
        <form [formGroup]="nameFG" class="example-form2">
            <mat-form-field class="example-full-width2">
                <input required matInput placeholder="insert name" formControlName="name">
                <mat-error *ngIf="name?.hasError('required')">
                    name <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>
        <form [formGroup]="responsiblePasswordFG" class="example-form2">
            <mat-form-field class="example-full-width2">
                <input required matInput type="password" placeholder="insert password"
                    formControlName="responsiblePassword" #pass>
                <mat-error *ngIf="responsiblePassword?.hasError('required')">
                    password <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>
        <form [formGroup]="okPasswordFG" class="example-form2">
            <mat-form-field class="example-full-width2">
                <input required matInput type="password" placeholder="confirm password" formControlName="okPassword"
                    #pass2>
                <mat-error *ngIf="okPassword?.hasError('required')">
                    confirm <strong>required</strong>
                </mat-error>
                <!-- <mat-error *ngIf="okPass?.invalidPass && !okPass?.hasError('required')">
                        Passwords don't match
                    </mat-error> -->

            </mat-form-field>
        </form>
        <form [formGroup]="responsibleRoleFG" class="example-form2">
            <mat-form-field class="example-full-width2">
                <mat-select formControlName="responsibleRole" name="role" ngDefaultControl>
                    <mat-option *ngFor="let u of roleSer.rolesList" [value]="u.name">
                      {{u.name}}
                    </mat-option>
                  </mat-select>
                
                <mat-error *ngIf="responsibleRole?.hasError('required')">
                    confirm <strong>required</strong>
                </mat-error>
                <!-- <mat-error *ngIf="okPass?.invalidPass && !okPass?.hasError('required')">
                        Passwords don't match
                    </mat-error> -->

            </mat-form-field>
        </form>
        <br>
        <input mat-button class="button" type="submit" [disabled]="!form2.form.valid" value="צור משתמש">
    </fieldset>
</form>