<p>server-center works!</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.malfunctionDTO_id}} </td>
    </ng-container>
 
    <ng-container matColumnDef="componentName">
      <th mat-header-cell *matHeaderCellDef> Component Name</th>
      <td mat-cell *matCellDef="let element"> {{element.componentDTO_name}} </td>
    </ng-container>

    <ng-container matColumnDef="malfunctionStatusName">
      <th mat-header-cell *matHeaderCellDef> Malfunction Status </th>
      <td mat-cell *matCellDef="let element"> {{element.malfunctionStatusDTO_name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="malfunctionDescription">
      <th mat-header-cell *matHeaderCellDef> Malfunction Description </th>
      <td mat-cell *matCellDef="let element"> {{element.malfunctionDTO_description}} </td>
    </ng-container>

    <ng-container matColumnDef="urgency">
      <th mat-header-cell *matHeaderCellDef> Urgency </th>
      <td mat-cell *matCellDef="let element"> {{element.urgencyDTO_name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="btn">
      <th mat-header-cell *matHeaderCellDef>  Button </th>
      <td  mat-cell *matCellDef="let element"><button mat-button (click)="inviteTechnician(element)">Invite Technician</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  