<div>
    <div class="wrap">
      <div dir="rtl" class="wrap-example">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input required matInput placeholder="שם משתמש:" [(ngModel)]="name" name="name">
          </mat-form-field>
        </form>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input required type="password" matInput placeholder="סיסמא:" [(ngModel)]="responsiblePassword" name="responsiblePassword">
          </mat-form-field>
        </form>
        <input type="button" class="conect" value="התחבר" (click)="conect()" [disabled]="!name || !responsiblePassword">
        &nbsp; &nbsp; &nbsp; &nbsp;
        <!-- <input type="button" class="conect" value="צור משתמש" (click)="newUser()" [disabled]="!name || !responsiblePassword"> -->
        <br>
        <router-outlet></router-outlet>
      </div>
    </div> 