<div *ngIf="malfunctionByComList.length>0">
    <table >
        <tr *ngFor="let m of malfunctionByComList">
            <td>{{m.componentName}}</td>&nbsp;&nbsp;
            <td>{{m.malfunctionDescription}}</td>&nbsp;&nbsp;
            <td><button mat-raised-button (click)="malLog(m)">
                Watch malfunction log</button></td>
        </tr>
    </table>
    </div>
    <div *ngIf="malfunctionByComList.length==0">
        <label>this component doesn't have malfunctions</label>
    </div>
